@model EliteMenu.Models.Piatti

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Elimina Piatto";
}

<h2>@ViewBag.Title</h2>

<h3>Sei sicuro di voler eliminare il seguente piatto?</h3>
<div>
    <h4>@Model.Nome</h4>
    <dl class="dl-horizontal">
        <dt>Descrizione</dt>
        <dd>@Model.Descrizione</dd>

        <dt>Prezzo</dt>
        <dd>@Model.Prezzo</dd>

        
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-danger" /> |
            @Html.ActionLink("Annulla", "Details", new { id = Model.MenuID }, new { @class = "btn btn-secondary" })
        </div>
    }
</div>


